<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Firsttestsuite" verbose="1">

	<test name="Test1">
		<classes>
			<class name="practicetest.Dicelogin" >
			<methods>
				<include name="loginsuccess" />
				<exclude name="loginfailure" />
			</methods>
			</class>
					</classes>
	</test>


</suite>